<div class="form-row">


  <div class="form-group col-4">

    <form #employeEditForm="ngForm"
    (ngSubmit)="onSubmit()"
    class="backgroud-box">

      <!--TASK NAME-->

      <label for="taskName">Task Name</label>

      <input type="text"
      class="form-control"
      id="taskName"
      required
      name="taskName"
      ngModel={{this.tasksGlobal[indexTask].taskName}}>

      <!--DATE START-->

      <label for="dateStart">Start</label>

      <input type="date"
      class="form-control"
      id="dateStart"
      required
      ngModel="{{this.formatDate(this.tasksGlobal[indexTask].startDate,'/','-')}}"
      name="dateStart">

      <!--DATE END-->

      <label for="dateEnd">Deadline</label>

      <input type="date"
      class="form-control"
      id="dateEnd"
      required
      ngModel="{{this.formatDate(this.tasksGlobal[indexTask].dueDate,'/','-')}}"
      name="dateEnd">

      <!--PRIORITY-->
      <label for="priority">Priority</label>

      <select class="form-control"
      id="priority"
      name="priority"
      required
      [(ngModel)]="selectedPriority">

        <option
        *ngFor="let _priority of priorityArray">
          {{_priority}}
        </option>

      </select>

      <!--EMPLOYE NAME-->
      <label for="employe">Employe</label>

      <select class="form-control"
      id="employe"
      name="employe"
      required
      [(ngModel)]="selectedEmploye">

        <option
        *ngFor="let _employe of employesArray">
          {{_employe.name}}
        </option>

      </select>

      <!--PERSONS INVOLVED-->

      <label for="involvedPeople">Involved Persons</label>

      <input type="number"
      class="form-control"
      id="involvedPeople"
      required
      ngModel={{this.tasksGlobal[indexTask].involved}}
      name="involvedPeople">

      <!--STATE-->
      <label for="state">State</label>

      <select class="form-control"
      id="state"
      name="state"
      required
      [(ngModel)]="selectedState">

        <option
        *ngFor="let _state of stateArray">
          {{_state}}
        </option>

      </select>

      <!--PROGRESS-->
      <label for="progress">Progress</label>

      <select class="form-control"
      id="progress"
      name="progress"
      required
      [(ngModel)]="selectedProgress">

        <option
        *ngFor="let _progress of progressArray">
          {{_progress}}
        </option>

      </select>

      <button type="submit"
      class="form-button center-btn"
      [disabled]="!employeEditForm.valid">
        Edit Task
      </button>

    </form>

  </div>

  </div>
