.navbar {
  margin-top: 10px;
  margin-bottom: 20px !important;
  border-bottom: 1px solid #97989a;
  height: 85px;
  margin: 0 -30px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  background-image: linear-gradient(to right, #315597, #264377);
}

a, h1 {
  color: white !important;
  margin: 15px;
}

h1 {
  margin-left: 50px;
  font-size: 28px;
}

.navbar-collapse {
  float: right !important;
  display: block !important;
}

.navbar-nav {
  float: right;
  display: -webkit-inline-box;
  margin-right: 150px;
}

.button {
  padding: 15px 30px !important;
}
