<div class="form-row">


<div class="form-group col-4">

  <form #employeForm="ngForm"
  (ngSubmit)="onSubmit()"
  class="backgroud-box">

    <!--TASK NAME-->

    <label for="taskName">Task Name</label>

    <input type="text"
    class="form-control"
    id="taskName"
    required
    ngModel
    name="taskName">

    <!--DATE START-->

    <label for="dateStart">Start</label>

    <input type="date"
    class="form-control"
    id="dateStart"
    required
    ngModel
    name="dateStart">

    <!--DATE END-->

    <label for="dateEnd">Deadline</label>

    <input type="date"
    class="form-control"
    id="dateEnd"
    required
    ngModel
    name="dateEnd">

    <!--PRIORITY-->
    <label for="priority">Priority</label>

    <select class="form-control"
    id="priority"
    name="priority"
    ngModel
    required>

      <option
      *ngFor="let _priority of priorityArray"
      [value]="_priority">
        {{_priority}}
      </option>

    </select>

    <!--EMPLOYE NAME-->
    <label for="employe">Employe</label>

    <select class="form-control"
    id="employe"
    name="employe"
    ngModel
    required>

      <option
      *ngFor="let _employe of employesArray"
      [value]="_employe.name">
        {{_employe.name}}
      </option>

    </select>

    <!--PERSONS INVOLVED-->

    <label for="involvedPeople">Involved Persons</label>

    <input type="number"
    class="form-control"
    id="involvedPeople"
    required
    ngModel
    name="involvedPeople">

    <!--STATE-->
    <label for="state">State</label>

    <select class="form-control"
    id="state"
    name="state"
    required
    ngModel>

      <option
      *ngFor="let _state of stateArray"
      [value]="_state">
        {{_state}}
      </option>

    </select>

    <!--PROGRESS-->
    <label for="progress">Progress</label>

    <select class="form-control"
    id="progress"
    name="progress"
    required
    ngModel>

      <option
      *ngFor="let _progress of progressArray"
      [value]="_progress">
        {{_progress}}
      </option>

    </select>

    <button type="submit"
    class="form-button center-btn"
    [disabled]="!employeForm.valid">
      Add Task
    </button>

  </form>

</div>

</div>
