<div class="list-group btn-group sideBar">
  <ul class="list-group">
    <li class="titleList">Tasks selection</li>
    <hr>
    <li class="list-group-item"
    *ngFor="let employe of employes"
    [ngClass]="{'active': employe.name == getSelection}"
    (click)="selectName(employe)">
    {{employe.name}}
    </li>
    <hr>
    <li class="list-group-item"
    [ngClass]="{'active': 'All' == getSelection}"
    (click)="selectState('All')">All</li>
    <li class="list-group-item"
    *ngFor="let state of states"
    [ngClass]="{'active': state == getSelection}"
    (click)="selectState(state)">
    {{state}}
    </li>
  </ul>
</div>
