h3 {
  font-size: 18px;
}

.card-body p {
  color:#264377 !important;
  display: inline;
}

.card {
  background-color: white !important;
  margin-bottom: 100px !important;
  margin-right: -50px !important;
  border-color: #264377;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.card-header {
  text-align: center;
  font-size: 16px;
  color: white;
  position: absolute;
  height: 100px;
  width: 80%;
  margin:0 auto !important;
  left: 0;
  right: 0;
  top: -30px;
  border-radius: 12px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  background-image: linear-gradient(to right, #264377, #315597);
}

.card-body {
  margin-top: 80px;
}

.card-body div {
  margin-bottom: 20px;
}

.taskName {
  margin-top: 10px;
  color: white !important;
}

.card-text {
  font-size: 16px;
  line-height: 28px;
}

img {
  width: 30px;
  margin-right: 10px;
}
